.env
old_settings.py
stripe_backup_code.pdf
stripe_backup.txt
render_raso_db.txt
/staticfiles/
/db_dumps/
media.zip
aws_access.txt

delete_wrong_aws_folder.py
upload_to_s3.py
streamtest_*
chaatgpt_view_*
chatbot_related/