[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
djangorestframework = "*"
djoser = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"
dj-database-url = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
boto3 = "*"
django-storages = "*"
stripe = "*"
openai = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
